.logo-mini {
    opacity: 1;
    float: left;
    width: 30px;
    text-align: center;
    margin-left: 23px;
    margin-right: 15px;
}

.logo-normal {
    display: block;
    opacity: 1;
    -webkit-transform: translate3d(0,0,0);
    -moz-transform: translate3d(0,0,0);
    -o-transform: translate3d(0,0,0);
    -ms-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
}

.sidebar .sidebar-wrapper {
    overflow: hidden;
}

.pagination {
    display: inline-block;
}

.pagination a, .currentStep {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination .currentStep {
    background-color: #737373;
    color: white;
    border-radius: 5px;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
    border-radius: 5px;
}

/*.sidebar-mini .main-panel {*/
    /*width: 100%;*/
/*}*/

